@()

testando
<br/>
<br/>
<image src="https://s3-sa-east-1.amazonaws.com/testando.yun/x4801160504225.jpg" />
<image src="https://s3-sa-east-1.amazonaws.com/testando.yun/x4801160504225.jpg" />
<img src="http://videos.web-03.net/artigos/Marcelo_Senaga/Play_Framework/Play_Framework7.jpg" />
<image src="http://videos.web-03.net/artigos/Marcelo_Senaga/Play_Framework/Play_Framework7.jpg" />

<br/>
src="@routes.Assets.at("images/logo-mobile-control-white.png")"

    This will produce the following result:

<image src="/assets/images/logo-mobile-control-white.png"/>
