@(elements: helper.FieldElements)

@*_
<div class="@if(elements.hasErrors) {error}">
    <label for="@elements.id">@elements.label</label>
    <div class="input">
        @elements.input
        <span class="errors">@elements.errors.mkString(", ")</span>
        <span class="help">@elements.infos.mkString(", ")</span>
    </div>
</div>
*@

<div class="row mb-4 mt-4">
    <div class="col-md-3">
        <label for="@elements.id">@elements.label @*Name*@</label>
    </div>
    <div class="col-md-6">

        @elements.input
                @*
                    <input type="text" name="name" class="form-control" id="name"
                        placeholder="John Doe" required autofocus>
                *@
    </div>
    <div class="col-md-3">
        <div class="">
            <span class="align-middle">
                @if(elements.hasErrors) {
                    <span class="errors text-danger">@elements.errors.mkString(", ")</span>
                } else {
                    <span class="help text-info">@elements.infos.mkString(", ")</span>
                }
            </span>
        </div>
    </div>
</div>